* {
  box-sizing: border-box; 
  font-family: "Arial", sans-serif;
  
}

h1 {
  text-align: center;
}

.translate-button {
  color: #000000;
  background: none; /* Remove default background */
  border: none; /* Remove borders */
  text-decoration: underline; /* Underline like a link */
  cursor: pointer; /* Cursor like a link */
  padding: 0; /* Remove padding */
  margin: 2px; /* Remove margins */
  font-family: inherit; /* Inherit font from parent */
  font-size: inherit; /* Inherit font size from parent */
  
}

.container-fr-en {
  display: flex;
  justify-content: flex-end; /* Aligns children (buttons) to the right */
}

.center-text {
  text-align: center; 
}

.red-text {
  color: red;
}

/* Style the container for the image grid */
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 0.5rem;
  justify-items: center;
  text-align: center;
}

/* Style individual image containers */
.image-container {
  position: relative; /* Ensure relative positioning for child elements */
}

/* Style individual images */
.image-container img {
  max-width: 100%;
  height: auto;
}

/* Style image names */
.image-name {
  position: relative;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8); /* Background color for text */
  padding: 4px; /* Adjust for padding around the text */; /* Half of the height to center vertically */
  margin-bottom: -0px;
}

.box-title {
  background-color: rgb(213, 211, 211);
  border-radius: 0.5rem;
  padding: 2rem;

}

.box {
  background-color: rgb(213, 211, 211);
  border-radius: 0.5rem;
  padding: 2rem;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}



.text-phone {
  display: none; /* Hide by default */
}


@media screen and (max-width: 600px) { /* Example breakpoint */
  .drop-area {
    display: none;
  }
  .text-phone {
    display: block;
    text-align: center;
  }
}


.drop-area {
  /* existing styles for the drop area */
  width: 100%;
  border: 2px dashed #0d0d0d;
  padding: 2rem;
  margin-left: 1.5rem;
  
}
.drop-area.dragover {
  border-color: blue; /* or any other color */
}

.img-result {
 /*  width: 50%; */  /* Adjust the width to 50% */
  margin: 1rem;
  padding-top: 2rem;
  /* Additional styles for the result area */
}
  
 
.padding {
  padding: 1rem;
}


.loading-container {
  width: 100%; /* Set the width of the container to 100% */
  display: flex;
  align-items: center; /* Center the loading bar vertically */
  justify-content: center; /* Center the loading bar horizontally */
}

.loading-bar {
  width: 80%;
  height: 30px; /* Adjust the height as needed */
  background-color: #f0f0f0; /* Background color of the loading bar */
  border-radius: 0.5rem;
}

.loading-progress {
  width: 0; /* Initial width is 0% */
  height: 100%;
  background-color: #58a45a; /* Color of the progress bar */
  transition: width 0.3s ease; /* Smooth animation for width changes */
  border-radius: 0.5rem;
  
}


.btn {
  width: 100%;
  background-color: rgb(9, 6, 59);
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: x-large;
}

.btn:hover,
.btn:focus {
  background-color: #000000;
  transform: scale(1.02); 
}

.padding-bottom {
  padding-bottom: 1rem;
}

.file-upload-container {
  display: inline-block;
}

.file-upload-input {
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;

}

.file-upload-button {
  -webkit-tap-highlight-color: transparent;
  background-color: rgb(9, 6, 59);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: x-large;
  display: inline-block;
}

.file-upload-button:hover,
.file-upload-button:focus {
  background-color: #000000;
  transform: scale(1.02);
}

 
.footer-text {
  color: black;
  text-align: center;
}

.text-link {
  text-decoration: underline;
}

.bold-text {
  font-weight: bold;
}

.text-link:hover {
  color: rgb(1, 0, 0); /* Default color */
  transition: color 0.2s; /* Smooth color transition */
  cursor: pointer;
}

.no-transition {
  opacity: 1;
  transition: none; 
}

.a-decoration {
  color: black;
}

.a-decoration:hover {
  color: rgb(9, 6, 59); /* Color on hover */
  text-decoration: underline;
  transition: color 0.3s; /* Smooth color transition */
}

.model-loading-notice {
  background-color: #f8f9fa; /* light gray background */
  border: 1px solid #ddd;    /* light gray border */
  padding: 1rem;             /* margin above and below the notice */
  border-radius: 0.5rem;        /* rounded corners */
}
