* {
   box-sizing: border-box; 
   font-family: "Arial", sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.a-decoration {
    text-decoration: underline;
}

.a-decoration:hover {
    color: rgb(1, 0, 0); /* Color on hover */
    text-decoration: underline;
    transition: color 0.3s; /* Smooth color transition */
}


.marge-buttom {
   margin-bottom: 2rem;

}

.marge-top {
    margin-top: 3rem;
}


.style-img {
    width: auto;
    height: auto;
    max-width: 330px;
    display: block;
    border-radius: 8px;
    object-fit: contain;
}

.anim-img {
    transition: all 0.5s ease;
}
      
.anim-img:hover {
transform: scale(1.025);
}


.padding {
    padding: 2rem;
}

.min-padding {
    padding: 1rem;
}

.container {
    display: flex;
    background-color: rgb(217, 217, 219);
    color: rgb(10, 10, 10);
    justify-content: space-evenly;
    align-items: center;

}

.container-white {
    background-color: white;
}


.grad {
    background: linear-gradient(180deg, rgb(1, 1, 13) 98% 98%, rgb(213, 212, 220) 100%);
}

.grad3 {
    background: linear-gradient(0deg, rgb(71, 68, 68) 1%, rgb(30, 29, 29) 100%);
    
}

.grad4 {
    background: linear-gradient(0deg, rgb(30, 29, 29) 30%, rgb(71, 68, 68) 100%);
    
}


.hero-container {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    

}

.hero-container > *{
    max-width: 40%;
    max-height: 25rem;
}

.title-span {
    opacity: 0;
    transition: all 1.40s ease;
}

.title-span.fade {
    opacity: 1;
}



@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .no-container {
        width: 100%;
    }
    .title-big {
        font-size: 1.6rem;
    }
    .min-button {
        font-size: 1.2rem;
    }
    .big-text {
        font-size: 2.8rem;
    }
    .padding-right {
        padding-right: 1rem;
    }
    
}

@media (min-width: 600px) {
    .title-little {
        font-size: 2rem;
    }
    .title-big {
        font-size: 2.5rem;
    }
    .big-text {
        font-size: 6rem;
    }
    .min-button {
        font-size: 1.5rem;
    }
    .padding-big {
        padding: 5rem;
    }
    .padding-right {
        padding-right: 2.5rem;
    }
}


.big-text {
    color: white;
    font-family: sans-serif;
    text-align: center;

}


.button-big {
    display: inline-block;
    background-color: rgb(216, 139, 16); 
    color: white;
    transform: scale(1);
    border: none;
    padding: 1rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 2rem;
    width: 100%;
    cursor: pointer;
    transition: background-color 150ms ease-in-out, transform 150ms ease;
}

.button-big:active {
    background-color: rgb(206, 102, 33);
    transform: scale(1.05);
}

.button-big:hover, .button-big:focus {
    background-color: (206, 102, 33);
    transform: scale(1.02);
}

.min-button {
    display: inline-block;
    background-color: rgb(2,0,36,1); 
    color: white;
    transform: scale(1);
    border: none;
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    margin: 1rem;
    cursor: pointer;
    transition: background-color 150ms ease-in-out, transform 150ms ease;
}

.min-button:hover, .min-button:focus {
    background-color: rgb(206, 102, 33);
    transform: scale(1.10);
}


.center {
    text-align: center;
    
}

.black {
    background-color: rgb(30, 29, 29);
}

.white {
    color: white;
}
 
.text-red {
    color: red;
    font-size: 3rem;


}
.text-link {
    text-decoration: underline;
}

.text-link:hover {
    color: rgb(1, 0, 0); /* Default color */
    transition: color 0.2s; /* Smooth color transition */
    cursor: pointer;
}

.no-transition {
    opacity: 1;
    transition: none; 
}

.mail-text-color {
    color: rgb(237, 131, 10);
    text-decoration: underline;
}

.mail-text-color:hover {
    color: rgb(1, 0, 0); /* Default color */
    transition: color 0.2s; /* Smooth color transition */
    cursor: pointer;
}

.margin {
    margin: 1rem;
}




.padding-bottom {
    padding-bottom: 2rem;
}

.translate-button {
  color: #ffffff;
  background: none; /* Remove default background */
  border: none; /* Remove borders */
  text-decoration: underline; /* Underline like a link */
  cursor: pointer; /* Cursor like a link */
  padding: 0; /* Remove padding */
  margin: 2.5px; /* Remove margins */
  font-family: inherit; /* Inherit font from parent */
  font-size: large; /* Inherit font size from parent */
 
  
}

.container-fr-en {
  display: flex;
  justify-content: flex-end; /* Aligns children (buttons) to the right */
  padding-top: 0.5rem;
  background-color:  rgb(1, 1, 13);
}


